django==6.0.5
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-apscheduler==0.7.0
django-cors-headers==4.9.0
django-filter==25.2
drf-spectacular==0.29.0
groq==1.4.0
gunicorn==26.0.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
resend==2.30.1
dj-database-url==2.3.0
requests==2.34.2
certifi
